@{
    ViewData["Title"] = "Info Integrante";
}
<h1>@ViewBag.Integrante.GetNombre()</h1>
<p>Fecha de nacimiento: @ViewBag.Integrante.GetFechaNacimiento()</p>
<p>DNI: @ViewBag.Integrante.GetDni()</p>
<img src="@ViewBag.Integrante.GetFoto()" alt="Foto del integrante" width="200">
<h3>Familiares</h3>
@foreach (var f in ViewBag.Integrante.GetFamiliares())
{
    <p>@f</p>
}
<h3>Intereses</h3>
@foreach (var i in ViewBag.Integrante.GetIntereses())
{
    <p>@i</p>
}
<a href='@Url.Action("Index")'>Volver</a>
